.inside-left {
  width: 240px;
  margin-right: 20px;
  @media screen and (max-width: 750px) {
    width: 100%;
  }
  .title {
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: #fff;
    text-indent: 30px;
    font-size: 28px;
    font-weight: bold;
    background-image: url('~/assets/images/inside/title-bg.png');
    @media screen and (max-width: 750px) {
      display: none;
    }
  }
  .menu {
    background-color: #fff;
    padding-bottom: 30px;
  }

  .menu ul {
    border-top: 1px solid #f7f7f7;
    @media screen and (max-width: 750px) {
      display: flex;
    }
  }

  .menu a {
    line-height: 48px;
    text-indent: 30px;
    border-left: 3px solid #fff;
    border-bottom: 1px solid #f7f7f7;
    display: block;
    font-size: 16px;
    color: #000;
    @media screen and (max-width: 750px) {
      text-indent: 0;
      border-left: 0;
      border-bottom: 3px solid #fff;
      padding: 0 10px;
    }
    &.current {
      background-color: rgba(0, 123, 199, 0.1);
      border-left: 3px solid #007bc7;
      display: block;
      color: #007bc7;
      @media screen and (max-width: 750px) {
        border-bottom: 3px solid #007bc7;
        border-left: 0;
      }
    }
    &:hover {
      background-color: rgba(0, 123, 199, 0.1);
      border-left: 3px solid #007bc7;
      @media screen and (max-width: 750px) {
        border-bottom: 3px solid #007bc7;
        border-left: 0;
      }
    }
  }
}
