.newsContent {
  width: 1200px;
  margin: auto;
  display: flex;
  @media screen and (max-width: 750px) {
    width: 100%;
    display: block;
  }
  .left {
    width: 580px;
    margin-right: 20px;
    @media screen and (max-width: 750px) {
      width: calc(100% - 40px);
      margin: 20px 20px 0;
    }
    img {
      width: 100%;
    }
  }
  .right {
    .nav {
      width: 600px;
      display: flex;
      margin: 0;
      @media screen and (max-width: 750px) {
        width: calc(100% - 40px);
        margin: 20px;
      }
      li {
        width: 200px;
        height: 50px;
        text-align: center;
        a {
          width: 100%;
          height: 100%;
          border: 1px solid #eee;
          font-size: 16px;
          line-height: 50px;
          display: block;
          color: #000;
          &.current {
            border-color: #1890ff;
            background: #1890ff;
            color: #fff;
          }
        }
      }
    }
    .news {
      width: 600px;
      margin: 0;
      @media screen and (max-width: 750px) {
        width: calc(100% - 40px);
        margin: 20px;
      }
      li {
        width: 600px;
        height: 90px;
        border: 1px solid #eee;
        padding: 9px;
        margin-top: 10px;
        transition: all 0.3s;
        @media screen and (max-width: 750px) {
          width: 100%;
        }
        &:hover {
          box-shadow: 0 0 0.07rem rgba(0, 0, 0, 0.1);
        }
        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          color: #000;
          &:hover {
            color: #1890ff;
          }
          .newsLeft {
            width: 80px;
            height: 80px;
            margin-right: 10px;
            text-align: center;
            i {
              height: 25px;
              line-height: 25px;
            }
            b {
              height: 55px;
              line-height: 55px;
              font-size: 48px;
              font-weight: bold;
            }
          }
          .newsRight {
            width: calc(100% - 90px);
            .title {
              width: 100%;
              height: 30px;
              font-size: 16px;
              font-weight: bold;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .desc {
              width: 100%;
              height: 40px;
              line-height: 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #999;
            }
          }
        }
      }
    }
  }
}
