header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
  background-color: #fff;
  transition: 0.2s all linear;
  &.isTop {
    transition: 0.2s all linear;
    background: rgba(85, 130, 170, 0.8);
    a {
      color: #fff !important;
      &:hover {
        color: #0056a7 !important;
      }
    }
    .dropdown-menu {
      a {
        color: #000 !important;
        &:hover {
          color: #1890ff !important;
        }
      }
    }
  }
  &.white {
    background-color: #fff;
    a {
      color: #000 !important;
    }
  }

  .header-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 750px) {
      width: 100%;
      padding: 20px 0 20px 10px;
    }

    .logo {
      width: 3.3rem;
      height: 0.6rem;
      a {
        display: block;
        img {
        }
      }
    }

    .jump {
      width: 0.3rem;
      height: 0.6rem;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.3rem;
      color: #007bc7;
      @media screen and (min-width: 750px) {
        display: none;
      }
    }

    nav {
      width: 800px;
      height: 40px;
      margin: 10px 0;
      @media screen and (max-width: 750px) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 998;
      }

      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 0.3rem;
        height: 0.3rem;
        font-size: 20px;
        text-align: center;
        display: none;
        z-index: 999;
        cursor: pointer;
        @media screen and (max-width: 750px) {
          display: block;
        }
      }

      .main-menu {
        position: relative;
        display: flex;
        @media screen and (max-width: 750px) {
          display: block;
          background: #fff;
          padding-top: 0.3rem;
        }

        > li {
          min-width: 100px;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 100%;
            width: 0;
            height: 100%;
            border-bottom: 2px solid #1890ff;
            transition: 0.2s all linear;
          }
          &:hover {
            &::before {
              width: 100%;
              top: 0;
              left: 0;
              transition-delay: 0.1s;
              border-bottom-color: #1890ff;
              z-index: -1;
            }
            @media screen and (max-width: 750px) {
              width: 100%;
            }
            .dropdown-menu {
              display: block;
            }
          }

          .dropdown-menu {
            display: none;
            width: 200px;
            overflow: hidden;
            position: absolute;
            top: 40px;
            left: -20px;
            @media screen and (max-width: 750px) {
              width: 100%;
              position: initial;
              top: initial;
              left: initial;
            }

            > ul {
              background-color: #efefef;
              border-radius: 10px;
              padding: 20px 0;
              @media screen and (max-width: 750px) {
                background: none;
                padding: 0;
                width: 100%;
              }
              > li {
                min-width: 100px;
                position: relative;
                @media screen and (max-width: 750px) {
                  width: 100%;
                }
                a {
                  text-indent: 35px;
                  text-align: left;
                  @media screen and (max-width: 750px) {
                    text-align: center;
                    text-indent: 0;
                  }
                }
              }
            }
          }

          a {
            display: block;
            color: #000;
            font-size: 16px;
            line-height: 40px;
            border-radius: 5px;
            text-align: center;
            &:hover {
              color: #1890ff;
            }
          }
        }
      }
    }
  }
}
