.aboutContent {
  width: 1200px;
  margin: auto;
  @media screen and (max-width: 750px) {
    width: 100%;
    overflow: hidden;
  }
  .contentText {
    width: 100%;
    font-size: 16px;
    text-indent: 2em;
    line-height: 30px;
    text-align: justify;
    @media screen and (max-width: 750px) {
      width: calc(100% - 40px);
      margin: 20px;
    }
  }
  .swiper {
    margin-top: 50px;
    width: 100%;
  }
  .swiper-slide {
    width: 400px;
    img {
      width: 100%;
    }
  }
}
